@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto/Roboto-Regular.ttf");
}

body {
    font-family: "Roboto";
    scroll-behavior: smooth;
}


/* En-tête */
body > header {
    padding: 20vh 0;
    text-align: center;
    min-height: 100vh;
}

.titre {
    font-size: 5rem;
}

.logo {
    width: 10rem;
    margin-top: 5rem;
}

.fleche-contener {
    margin-top: 5rem;
}

.fleche-contener > a {
    padding: 0.5rem;
    border-radius: 2rem;
    background-color: #00000022;
    border: none;
}


/* Introduction */
.introduction {
    text-align: center;
    padding: 8rem 0;
    height: 100vh;
    background-color: #fdb62f;
}

.introduction > h1 {
    margin-bottom: 2rem;
}

.introduction > q {
    font-size: 1.5rem;
}

.introduction > h1,
.introduction > q,
.introduction > .fleche-contener {
    position: relative;
    top: 20%;
}


/* Carte */
.carte {
    text-align: center;
    padding: 6rem 0;
    min-height: 100vh;
}

.carte > h1 {
    margin-bottom: 2rem;
}

.carte > iframe {
    width: 80%;
    height: 75vh;
}


/* Footer */
footer {
    background-color: #ececec;
    padding: 1rem;
}