svg {
    width: 100%;
}

.zone {
    cursor: pointer;
    fill: currentColor;
    transition-property: fill;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.zone:hover {
    fill: #88b337;
}

.flag {
    position: absolute;
    width: 2rem;
}